---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout lang="fr" current="sanitaire" title="Sanitaire">
<h1>Sanitaire</h1>
<p>Installation sanitaire à Bruxelles. Salle de bain, WC, cuisine.</p>
<h2>Nos prestations</h2>
<div class="services-grid">
  <div class="service-card"><h3><a href="/sanitaire/installation">Installation Sanitaire</a></h3><p>Installation sanitaire complète. Baignoire, douche, WC suspendu....</p></div>
</div>
<a href="/contact" class="cta">Demandez un devis</a>
</BaseLayout>
