---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout current="plomberie" title="Installation Sanitaire">
<div class="breadcrumb"><a href="/">Accueil</a> &raquo; <a href="/plomberie">Plomberie</a></div>
<h1>Installation Sanitaire</h1>
<p>Installation sanitaire complète. Baignoire, douche, WC suspendu, lavabo. Rénovation salle de bain. Travail soigné, matériaux de qualité.</p>
<a href="/contact" class="cta">Demandez un devis</a>
</BaseLayout>
