---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---
<BaseLayout lang="nl" current="verwarming" title="Verwarming problemen oplossen">
<h1>Verwarming problemen oplossen</h1>
<p>24/7 in Brussel. Een noodgeval? Wij lossen uw ketel- en verwarmingsproblemen snel op.</p>
<a href="/nl/contact" class="btn btn-accent">Vraag een offerte</a>
</BaseLayout>
