---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout lang="nl" current="home" title="Afwerking">
<h1>Afwerking</h1>
<p>Voor al uw afwerkingswerken. Gespecialiseerde werknemers voor vloeren en tegels. Kwaliteit gegarandeerd.</p>
<a href="/nl/contact" class="btn btn-accent">Vraag een offerte</a>
</BaseLayout>
