---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout lang="fr" current="debouchage" title="Débouchage" description="Vos sanitaires sont bouchés&amp;nbsp;? Votre évier n&#x27;évacue plus l&#x27;eau&amp;nbsp;? Parce que nous savons tous les dégâts que peut causer une canalisation bouchée dans vo">
  <section class="section">
    <div class="container">
      <div class="page-content">
        <div class="breadcrumb"><a href="/">Accueil</a> <span>/</span> <a href="/debouchage/">Débouchage</a></div>
        <h1>Débouchage</h1>
        <p>Vos sanitaires sont bouchés&nbsp;? Votre évier n'évacue plus l'eau&nbsp;? Parce que nous savons tous les dégâts que peut causer une canalisation bouchée dans votre habitation et toute la gêne occasionnée pour votre vie quotidienne, nous réagissons vite et professionnellement. Faites donc de même et contactez-nous sans plus attendre&nbsp;!</p>

<p><a href="/contact">Contactez-nous</a>&nbsp;sans plus attendre, nous vous proposons une solution adéquate avec une exécution rapide et des prix imbattables&nbsp;!</p>

<p>Nous intervenons dans les régions suivantes :</p>

<ul>
	<li>Bruxelles : Anderlecht, Auderghem, Berchem-Sainte-Agathe, Bruxelles, Etterbeek, Evere, Forest, Ganshoren, Ixelles, Jette, Koekelberg, Molenbeek-Saint-Jean, Saint-Gilles, Saint-Josse-Ten-Noode, Schaerbeek, Uccle, Watermael-Boitsfort, Woluwe-Saint-Lambert et Woluwe-Saint-Pierre</li>
	<li>Brabant-Wallon&nbsp;: Beauvechain (Bevekom), Braine-l'Alleud (Eignebrakel), Braine-le-Château (Kasteelbrakel), Chastre, Chaumont-Gistoux, Court-Saint-Etienne, Genappe (Genepiën), Grez-Doiceau (Graven), Hélécine, Incourt, Ittre, Jodoigne (Geldenaken), La Hulpe (Terhulpen), Lasne, Mont-Saint-Guibert, Nivelles (Nijvel), Orp-Jauche, Ottignies-Louvain-La-Neuve, Perwez (Perwijs), Ramillies, Rebecq, Rixensart, Tubize (Tubeke), Villers-la-Ville, Walhain et&nbsp;Wavre (Waver)</li>
	<li>Brabant-Flamand</li>
	<li>Walonie</li>
	<li>Flandre</li>
</ul>

<p>&nbsp;</p>

        <div style="margin-top:2rem">
          <a href="/contact" class="btn btn-accent">Demandez un devis gratuit →</a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
