---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout current="debouchage" title="Débouchage de Toilettes - Débouchage">
<div class="breadcrumb"><a href="/">Accueil</a> &raquo; <a href="/debouchage">Débouchage</a></div>
<h1>Débouchage de Toilettes</h1>
<p>WC bouchés ? Débouchage manuel et mécanique. Intervention rapide, hygiène garantie.</p>
<a href="/contact" class="cta">Demandez un devis</a>
</BaseLayout>
