---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout current="nettoyage" title="Nettoyage">
<h1>Nettoyage</h1>
<p>Service de nettoyage après travaux à Bruxelles. Remise en état, nettoyage fin de chantier.</p>
<a href="/contact" class="cta">Demandez un devis</a>
</BaseLayout>
