---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout current="plomberie" title="Installation Sanitaire - Plomberie">
<div class="breadcrumb"><a href="/">Accueil</a> &raquo; <a href="/plomberie">Plomberie</a></div>
<h1>Installation Sanitaire</h1>
<p>Installation sanitaire complète : salle de bain, cuisine, WC. Raccordement lave-linge, lave-vaisselle. Travail soigné, aux normes.</p>
<a href="/contact" class="cta">Demandez un devis</a>
</BaseLayout>
