---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout current="plomberie" title="Réparation Plomberie - Plomberie">
<div class="breadcrumb"><a href="/">Accueil</a> &raquo; <a href="/plomberie">Plomberie</a></div>
<h1>Réparation Plomberie</h1>
<p>Réparation de fuites, robinetterie, chasse d'eau, cumulus. Diagnostic gratuit. Pièces détachées sur stock.</p>
<a href="/contact" class="cta">Demandez un devis</a>
</BaseLayout>
