---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---
<BaseLayout lang="nl" current="loodgieterswerk" title="Loodgieterij Installatie">
<h1>Loodgieterij Installatie</h1>
<p>Wij installeren uw leidingen, toiletten, kranen, douchecabines en sanitair.</p>
<a href="/nl/contact" class="btn btn-accent">Vraag een offerte</a>
</BaseLayout>
