---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---
<BaseLayout lang="nl" current="loodgieterswerk" title="Loodgieterswerk problemen oplossen">
<h1>Loodgieterswerk problemen oplossen</h1>
<p>24/7 in Brussel. Een sanitair probleem kan elk moment optreden. Wij handelen snel.</p>
<a href="/nl/contact" class="btn btn-accent">Vraag een offerte</a>
</BaseLayout>
