---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout lang="nl" current="home" title="Verwarming">
<h1>Verwarming</h1>
<p>Ketel kapot? Verwarming werkt niet meer? Nieuwe installatie nodig? Wij bieden alle diensten.</p>
<div class="grid-3">
<div class="card"><h3><a href="/nl/verwarming/problemen-oplossen">Problemen oplossen</a></h3></div>
<div class="card"><h3><a href="/nl/verwarming/installatie">Installatie</a></h3></div>
<div class="card"><h3><a href="/nl/verwarming/reparatie">Reparatie</a></h3></div>
</div>
</BaseLayout>
