---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout lang="nl" current="home" title="HVAC">
<h1>HVAC</h1>
<p>Verwarming, ventilatie en airconditioning. Verbeter hygiëne, verminder CO2, beheer temperatuur en vochtigheid.</p>
<div class="grid-3">
<div class="card"><h3><a href="/nl/hvac/probleem-oplossen">Probleem oplossen</a></h3></div>
<div class="card"><h3><a href="/nl/hvac/installatie">Installatie</a></h3></div>
<div class="card"><h3><a href="/nl/hvac/reparatie">Reparatie</a></h3></div>
</div>
</BaseLayout>
