---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout lang="nl" current="home" title="Schoonmaak">
<h1>Schoonmaak</h1>
<p>Schoonmaak van kantoren, traditioneel of na de bouw. Ervaren team, formule aangepast aan uw behoeften.</p>
<a href="/nl/contact" class="cta">Vraag een offerte</a>
</BaseLayout>
