---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout current="electricite" title="Réparation Électrique - Électricité">
<div class="breadcrumb"><a href="/">Accueil</a> &raquo; <a href="/electricite">Électricité</a></div>
<h1>Réparation Électrique</h1>
<p>Réparation électrique. Remplacement interrupteur, prise, détecteur. Remise aux normes.</p>
<a href="/contact" class="cta">Demandez un devis</a>
</BaseLayout>
