---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout lang="fr" current="parachevement" title="Parachèvement">
<h1>Parachèvement</h1>
<p>Travaux de parachèvement. Finitions, plafonnage, peinture, carrelage.</p>
<a href="/contact" class="btn btn-accent">Demandez un devis</a>
</BaseLayout>
