---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout current="chauffage" title="Installation Chauffage - Chauffage & Chaudière">
<div class="breadcrumb"><a href="/">Accueil</a> &raquo; <a href="/chauffage">Chauffage & Chaudière</a></div>
<h1>Installation Chauffage</h1>
<p>Installation de chaudière neuve. Remplacement ancienne chaudière. Devis gratuit.</p>
<a href="/contact" class="cta">Demandez un devis</a>
</BaseLayout>
