---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout current="chauffage" title="Réparation Chauffage - Chauffage & Chaudière">
<div class="breadcrumb"><a href="/">Accueil</a> &raquo; <a href="/chauffage">Chauffage & Chaudière</a></div>
<h1>Réparation Chauffage</h1>
<p>Réparation chauffage. Remplacement pièces détachées : circulateur, vase d'expansion, thermostat.</p>
<a href="/contact" class="cta">Demandez un devis</a>
</BaseLayout>
