---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout lang="nl" current="home" title="Wettelijke vermeldingen" description="uw naam of de naam van uw bedrijf als u zijn opgenomen: de rechtsvorm van uw bedrijf (NV, BVBA, etc.) de term &quot;register van rechtspersonen&quot; (of RPM), gevolgd do">
  <section class="section">
    <div class="container">
      <div class="page-content">
        <div class="breadcrumb"><a href="/nl/">Home</a> <span>/</span> <a href="/nl/wettelijke-vermeldingen/">Wettelijke vermeldingen</a></div>
        <h1>Wettelijke vermeldingen</h1>
        <ul>
	<li>uw naam of de naam van uw bedrijf</li>
	<li>als u zijn opgenomen:
	<ul>
		<li>de rechtsvorm van uw bedrijf (NV, BVBA, etc.)</li>
		<li>de term "register van rechtspersonen" (of RPM), gevolgd door de vermelding van het kantoor van de rechtbank in het rechtsgebied waar uw bedrijf is gevestigd,</li>
		<li>en, indien van toepassing, het feit dat uw bedrijf in vereffening is;</li>
	</ul>
	</li>
	<li>Als u een gereglementeerd beroep uit te oefenen (blz. ex. vrije beroepen)
	<ul>
		<li>beroeps- of professionele organisatie Association, waarmee u geregistreerd bent,</li>
		<li>uw professionele titel en de staat waarin het werd verleend,</li>
		<li>een verwijzing naar de geldende beroepsregels en de middelen om ze te openen.</li>
	</ul>
	</li>
	<li>het geografisch adres waar u zich bevindt (maatschappelijke zetel van uw bedrijf) ;</li>
	<li>contact informatie, waaronder e-mailadres, om snel contact met u op;</li>
	<li>zakelijke Number</li>
	<li>indien van toepassing, uw BTW-nummer (hetzelfde bedrijf aantal sinds 2003);</li>
	<li>Als uw bedrijf is afhankelijk van een vergunningstelsel, de gegevens over de bevoegde toezichthoudende autoriteit.</li>
</ul>

        <div style="margin-top:2rem">
          <a href="/nl/contact" class="btn btn-accent">Vraag een gratis offerte aan →</a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
