---
import BaseLayout from "../../../layouts/BaseLayout.astro";
---
<BaseLayout lang="nl" current="home" title="Wettelijke vermeldingen">
<h1>Wettelijke vermeldingen</h1>
<h2>Uitgever</h2><p><strong>DRI Expert</strong><br>Rue de la Station 55, 1390 Grez-Doiceau<br>📞 <a href="tel:+324****2323">0470 31 23 23</a></p>
<h2>Hosting</h2><p>Netlify Inc., San Francisco, CA</p>
</BaseLayout>
