---
import BaseLayout from "../../../../layouts/BaseLayout.astro";
---
<BaseLayout lang="nl" current="loodgieterswerk" title="Reparatie sanitair">
<h1>Reparatie sanitair</h1>
<p>Reparatie lek, zegel vervanging, ledigen septic tank, scaling, curage. Regelmatig onderhoud is belangrijk.</p>
<a href="/nl/contact" class="btn btn-accent">Vraag een offerte</a>
</BaseLayout>
