---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout current="home" title="Plombier">
<h1>Plombier à Bruxelles</h1>
<p>DRI Expert — votre plombier de confiance à Bruxelles. Dépannage, installation, réparation. Intervention en moins d'une heure. Devis gratuit. 7j/7.</p>
<a href="/contact" class="cta">Demandez un plombier</a>
</BaseLayout>
